.bd_kont {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 100px 0 0;
  .bd_tovarInfo {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid rgb(189, 189, 189);
    margin: 0 40px 0 0;
    li {
      border-right: 3px solid rgb(189, 189, 189);
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: 1.3em;
      min-height: 50px;
      height: 100%;
      width: 100%;
      padding: 5px;
    }
  }
  .bd_wrawpo {
    display: flex;
    width: 100%;
    align-items: center;
    .bd_tovar {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      border-bottom: 3px solid rgb(189, 189, 189);
      li {
        border-right: 3px solid rgb(189, 189, 189);
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 1.3em;
        min-height: 50px;
        height: 100px;
        width: 100%;
        padding: 5px;
      }
      input {
        border-right: 3px solid rgb(189, 189, 189);
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 1.3em;
        min-height: 50px;
        height: 100%;
        width: 100%;
        padding: 5px;
      }
      .bd_fixo {
        border-left: 3px solid rgb(189, 189, 189);
      }
    }
    .bd_close {
      cursor: pointer;
      margin-left: 15px;
      background: rgb(255, 188, 87);
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      color: white;
      filter: drop-shadow(0px 0px 2px black);
    }
  }
}

.bd_wrapBut {
  width: 100%;
  margin-top: 25px;
  display: flex;
  gap: 25px;
  .bd_but {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 50px;
    border-radius: 10px;
    background: rgb(255, 188, 87);
    font-size: 1.9em;
    font-weight: 600;
    color: white;
  }
}

.bd_but32 {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 208px;
  height: 50px;
  border-radius: 10px;
  background: rgb(255, 188, 87);
  font-size: 1.9em;
  font-weight: 600;
  color: white;
}

.bd_img {
  padding: 10px;
  width: 197px;
  height: auto;
}
.bd_img2 {
  padding: 0 97px;
}

.bd_filterH1 {
  font-size: 1.8em;
  margin-top: 30px;
}

.bd_filterWrap {
  display: flex;
  align-items: start;
  gap: 50px;
}

.bd_types {
  margin-top: 20px;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;

  li {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background: rgb(255, 188, 87);
    font-size: 1.3em;
    font-weight: 400;
    color: white;
  }
}

.bd_filterPo {
  padding: 5px 10px;
  margin-top: 5px;
  width: 200px;
  border: 2px solid rgb(167, 167, 167);
  border-radius: 4px;
}
