//Хедер
header {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  .h_upp_head {
    text-align: center;
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    nav {
      margin-top: 10px;
      display: flex;
      align-items: center;
      font-size: 1.6em;
      color: rgb(83, 83, 83);
      div {
        display: flex;
        align-items: center;
        gap: 3px;
        h5 {
          font-size: 1.2em;
        }
      }
    }
    .h_nav2 {
      gap: 15px;
    }
    .h_nav1 {
      gap: 20px;
      li:hover {
        text-decoration: underline;
      }
    }
  }
  .h_down_head {
    width: 100%;
    background-color: white;
    margin-top: 25px;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    button {
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 130px;
      height: 46px;
      color: white;
      background-color: rgb(255, 188, 87);
      font-weight: 600;
      font-size: 1.8em;
      letter-spacing: 0.5px;
      border-radius: 8px;
    }
    .h_poshyk {
      border: 1px solid rgb(177, 177, 177);
      max-width: 400px;
      width: 100%;
      height: 50px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      input {
        padding: 10px 15px;
        font-size: 1.6em;
        width: 90%;
        height: 100%;
        border-radius: 8px;
      }
    }
    .h_tel {
      display: flex;
      align-items: center;
      gap: 10px;
      &_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 150px;
        p {
          font-size: 1.3em;
          color: rgb(83, 83, 83);
        }
        h4 {
          font-weight: 600;
          font-size: 1.8em;
          letter-spacing: 0.5px;
        }
      }
      svg {
        cursor: pointer;
      }
    }
    .h_tel2 {
      position: absolute;
      display: flex;
      z-index: 3;
      align-items: start;
      padding: 20px;
      gap: 10px;
      border-radius: 8px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
      background: rgb(255, 255, 255);
      right: 427px;
      top: 83px;
      &_info {
        margin-top: 7px;
        margin-right: 0.5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 150px;
        margin-right: 3px;
        p {
          font-size: 1.3em;
          color: rgb(83, 83, 83);
        }
        h4 {
          font-weight: 600;
          font-size: 1.8em;
          letter-spacing: 0.5px;
          margin-bottom: 10px;
        }
        .h_tel2_info_ZvonMe {
          font-size: 1.6rem;
          margin: 15px 0 0 0;
          color: rgb(255, 188, 87);
        }
      }

      .h_exit {
        cursor: pointer;
        margin-top: 20px;
        margin-right: 3px;
      }
    }
    .h_likes {
      display: flex;
      gap: 10px;
      img {
        cursor: pointer;
      }
    }
  }

  .h_nav2_1 {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(83, 83, 83);
    display: flex;
    font-size: 1.9em;
    gap: 30px;
    padding-bottom: 20px;
    li {
      gap: 5px;
      display: flex;
      align-items: center;

      h5 {
        font-weight: 600;
      }
    }
  }
}

.h_Lange {
  display: flex;
  align-items: start;
  gap: 8px;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
  padding: 10px 5px;
  height: 80px;
  &_L {
    display: flex;
    flex-direction: column;
    h5 {
      margin-bottom: 10px;
    }
  }
  svg {
    margin-bottom: 42px;
    cursor: pointer;
  }
  right: 302.5px;
  top: 14px;
}

@media (max-width: 1100px) {
  header {
    font-size: 0.95em;
    .h_upp_head {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
    }
    .h_nav2 {
      p {
        display: none;
      }
    }
    .h_likes {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      img {
        cursor: pointer;
      }
    }
    .h_down_head {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      .h_logotip {
        padding: 0 20px;
        width: 100%;
        order: -1;
      }
      .h_poshyk {
        margin: 0 20px;
        order: 1;
        max-width: 750px;
        width: 100%;
        gap: 0px;
      }
      .h_tel {
        order: 2;
      }
      .h_likes {
        order: 2;
      }
      .h_katalog {
        order: 2;
      }
    }
  }
}

@media (max-width: 600px) {
  .h_nav2 {
    img {
      margin-left: 15px;
    }
    div {
      display: none;
      h5 {
        display: none;
      }
      svg {
        display: none;
      }
    }
  }
  header {
    .h_down_head {
      .h_likes {
        display: flex;
        gap: 70px;
      }
    }
  }
  .h_nav2_1 {
    display: none;
    li {
      display: none;
      h5 {
        display: none;
      }
      img {
        display: none;
      }
    }
  }
  .h_down_head {
    display: flex;
    align-items: center;
    .h_katalog {
      height: 60px;
      width: 85%;
    }
    .h_likes {
      display: flex;
      justify-content: space-around;
      gap: 30px;
    }
    .h_tel {
      width: auto;
      display: flex;
      justify-content: center;
      img {
      }
      .h_tel_info {
        width: 170px;
        font-size: 1.1em;
      }
      svg {
        display: none;
      }
    }
  }
}

@media (max-width: 350px) {
  .h_nav2 {
    img {
      display: none;
    }
  }
}
