//Хедер
header {
  height: 220px;
  .h_upp_head {
    display: flex;
    justify-content: space-between;
    nav {
      margin-top: 10px;
      display: flex;
      align-items: center;
      font-size: 1.6em;
      color: rgb(83, 83, 83);
      div {
        display: flex;
        align-items: center;
        gap: 3px;
        h5 {
          font-size: 1.2em;
        }
      }
    }
    .h_nav2 {
      gap: 15px;
    }
    .h_nav1 {
      gap: 20px;
      li:hover {
        text-decoration: underline;
      }
    }
  }
  .h_down_head {
    background-color: white;
    margin-top: 25px;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 145px;
      height: 46px;
      color: white;
      background-color: rgb(255, 188, 87);
      font-weight: 600;
      font-size: 1.8em;
      letter-spacing: 0.5px;
      border-radius: 8px;
    }
    .h_poshyk {
      border: 1px solid rgb(177, 177, 177);
      width: 420px;
      height: 50px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      input {
        padding: 10px 15px;
        font-size: 1.6em;
        width: 90%;
        height: 100%;
        border-radius: 8px;
      }
    }
    .h_tel {
      display: flex;
      align-items: center;
      gap: 10px;
      &_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 150px;
        p {
          font-size: 1.3em;
          color: rgb(83, 83, 83);
        }
        h4 {
          font-weight: 600;
          font-size: 1.8em;
          letter-spacing: 0.5px;
        }
      }
      svg {
        cursor: pointer;
      }
    }
    .h_tel2 {
      position: absolute;
      display: flex;
      z-index: 3;
      align-items: start;
      padding: 20px;
      gap: 10px;
      border-radius: 8px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
      background: rgb(255, 255, 255);
      right: 427px;
      top: 83px;
      &_info {
        margin-top: 7px;
        margin-right: 0.5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 150px;
        margin-right: 3px;
        p {
          font-size: 1.3em;
          color: rgb(83, 83, 83);
        }
        h4 {
          font-weight: 600;
          font-size: 1.8em;
          letter-spacing: 0.5px;
          margin-bottom: 10px;
        }
        .h_tel2_info_ZvonMe {
          font-size: 1.6rem;
          margin: 15px 0 0 0;
          color: rgb(255, 188, 87);
        }
      }

      .h_exit {
        cursor: pointer;
        margin-top: 20px;
        margin-right: 3px;
      }
    }
    .h_likes {
      display: flex;
      gap: 10px;
      img {
        cursor: pointer;
      }
    }
  }

  .h_bottom_head {
    background-color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    .h_nav2_1 {
      display: flex;
      align-items: center;
      color: rgb(83, 83, 83);
      display: flex;
      font-size: 1.9em;
      gap: 30px;
      li {
        gap: 5px;
        display: flex;
        align-items: center;

        h5 {
          font-weight: 600;
        }
      }
    }
    .h_nav2_2 {
      display: flex;
      align-items: center;
      font-size: 1.9em;
      color: rgb(83, 83, 83);
      gap: 30px;
      li {
        display: flex;
        align-items: center;
        font-weight: 600;
      }
    }
  }
}

.h_Lange {
  display: flex;
  align-items: start;
  gap: 8px;
  position: absolute;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
  padding: 10px 5px;
  height: 80px;
  &_L {
    display: flex;
    flex-direction: column;
    h5 {
      margin-bottom: 10px;
    }
  }
  svg {
    margin-bottom: 42px;
    cursor: pointer;
  }
  right: 302.5px;
  top: 14px;
}
