* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

nav li {
  list-style: none;
  cursor: pointer;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima-Nova";
  src: url("./fonts/proximanova_regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: rgb(248, 248, 248);
  font-family: "Proxima-Nova", "Arial", sans-serif;
}

.wrap {
  border: 2px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.wrap_2 {
  width: 1290px;
}

header {
  height: 220px;
  border: 1px solid red;
}
header .h_upp_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .h_upp_head nav {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6em;
  color: rgb(83, 83, 83);
}
header .h_upp_head nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}
header .h_upp_head nav div h5 {
  font-size: 1.2em;
}
header .h_upp_head .h_nav2 {
  gap: 15px;
}
header .h_upp_head .h_nav1 {
  gap: 20px;
}
header .h_upp_head .h_nav1 li:hover {
  text-decoration: underline;
}
header .h_down_head {
  background-color: white;
  margin-top: 25px;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
header .h_down_head button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  width: 145px;
  height: 46px;
  color: white;
  background-color: rgb(255, 188, 87);
  font-weight: 600;
  font-size: 1.8em;
  letter-spacing: 0.5px;
  border-radius: 8px;
}
header .h_down_head .h_poshyk {
  border: 1px solid rgb(177, 177, 177);
  width: 420px;
  height: 50px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .h_down_head .h_poshyk input {
  padding: 10px 15px;
  font-size: 1.6em;
  width: 90%;
  height: 100%;
  border-radius: 8px;
}
header .h_down_head .h_tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
header .h_down_head .h_tel_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
header .h_down_head .h_tel_info p {
  font-size: 1.3em;
  color: rgb(83, 83, 83);
}
header .h_down_head .h_tel_info h4 {
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 0.5px;
}
header .h_down_head .h_likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
header .h_bottom_head {
  background-color: white;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .h_bottom_head .h_nav2_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(83, 83, 83);
  display: flex;
  font-size: 1.9em;
  gap: 30px;
}
header .h_bottom_head .h_nav2_1 li {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .h_bottom_head .h_nav2_1 li h5 {
  font-weight: 600;
}
header .h_bottom_head .h_nav2_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.9em;
  color: rgb(83, 83, 83);
  gap: 30px;
}
header .h_bottom_head .h_nav2_2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.f_doWrap {
  background-color: rgb(43, 41, 41);
  height: 510px;
}

.f_wrap {
  padding: 40px 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}
.f_wrap div h4 {
  font-size: 2em;
  padding-bottom: 15px;
  font-weight: 600;
}
.f_wrap div nav li {
  font-size: 1.7em;
  padding-bottom: 15px;
}

.f_lastDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.f_lastDivWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 15px;
  font-weight: 600;
  font-size: 2em;
  line-height: 28px;
}
.f_lastDivWrap div p {
  max-width: 200px;
}
.f_lastDivWrap img {
  width: 55px;
}

.f_Seti h6 {
  font-size: 1.7em;
  margin-top: 45px;
}
.f_Seti div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.f_card {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.f_downLine {
  border: 2px solid rgb(61, 61, 61);
  width: 100%;
}

.f_downFotter {
  color: rgb(177, 177, 177);
  padding: 25px;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m_wrap {
  margin-top: 25px;
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
}
.m_wrap .m_reklama {
  height: 420px;
  border: 1px solid purple;
}
.m_wrap .m_hotKat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 4em;
  border: 1px solid purple;
}
.m_wrap .m_hotKat h1 {
  margin-bottom: 40px;
}
.m_wrap .m_hotKat .m_Tovar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.m_akcii div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.m_akcii div h1 {
  font-size: 4em;
  font-weight: 600;
  letter-spacing: 1px;
}
.m_akcii div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.m_akcii div div h5 {
  font-size: 1.9em;
  font-weight: 600;
  color: rgb(255, 188, 87);
}
.m_akcii section {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.m_akcii section img {
  width: 410px;
  height: 280px;
  border-radius: 10px;
}

.m_blog div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.m_blog div h1 {
  font-size: 4rem;
  font-weight: 600;
}
.m_blog div div {
  gap: 10px;
}
.m_blog div div h5 {
  color: rgb(255, 188, 87);
  font-size: 1.9em;
  font-weight: 600;
}

.m_KrovatoIs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.m_KrovatoIs h1 {
  font-size: 4em;
  font-weight: 600;
  text-align: center;
  max-width: 1000px;
  line-height: 48px;
}
.m_KrovatoIs p {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 30px;
  margin: 0 90px;
  margin-top: 30px;
}

.m_listBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.m_thisBlog {
  margin-top: 40px;
  width: 410px;
  height: 475px;
  background-color: white;
  border-radius: 10px;
}
.m_thisBlog div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: white;
  border-radius: 10px;
  height: 475px;
}
.m_thisBlog div img {
  border-radius: 10px;
}
.m_thisBlog div h3 {
  margin: 0px 25px 0 25px;
  font-size: 2.6em;
  font-weight: 600;
  line-height: 34px;
}
.m_thisBlog div h5 {
  margin: 0px 25px 25px 25px;
  font-size: 1.9em;
  font-weight: 600;
  color: rgb(255, 188, 87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.m_vidgyki {
  height: 570px;
  background: rgb(233, 233, 233);
  margin-bottom: 75px;
}

.m_Img {
  border-radius: 10px;
  width: 100%;
  height: 220px;
}

.m_Avab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.m_Like {
  cursor: pointer;
}

.m_Korz {
  cursor: pointer;
}

.m_Price {
  font-size: 2rem;
  font-weight: 600;
}

.m_Rozmir {
  margin: 15px 0;
  color: rgb(83, 83, 83);
  font-size: 1.3rem;
}

.m_Name {
  height: 52px;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 15px;
}

.m_Nayav {
  font-size: 1.3rem;
}

.m_thisTovar {
  border-radius: 10px;
  border: 1px solid rgb(227, 226, 226);
  padding: 20px;
  width: 300px;
  height: 450px;
  margin-bottom: 30px;
}

.m_BottomLikes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.m_BottomLikes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.this_choice {
  word-spacing: 5px;
  font-size: 1.6em;
  margin-top: 15px;
}
.this_choice .fixingBlogSpace {
  word-spacing: 0px;
}

.golovna:hover {
  text-decoration: underline;
  cursor: pointer;
}

.o_oplata {
  margin-top: 30px;
  width: 100%;
  height: 454px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.o_oplata img {
  width: 50%;
  height: auto;
}
.o_oplata section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  line-height: 34px;
}
.o_oplata section h1 {
  font-size: 4em;
  font-weight: 600;
}
.o_oplata section h3 {
  font-size: 2.6em;
  max-width: 500px;
  font-weight: 600;
}
.o_oplata section h4 {
  font-size: 2em;
  max-width: 445px;
  font-weight: 600;
}

.o_PoKievy {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.o_PoKievy h1 {
  font-size: 4em;
  font-weight: 600;
}
.o_PoKievy div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.o_PoKievy .o_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.o_PoKievy .o_info div {
  margin-top: 40px;
  padding: 25px;
  background-color: rgb(255, 188, 87);
  border-radius: 100%;
}
.o_PoKievy .o_info h3 {
  font-size: 2.6em;
  font-weight: 600;
  line-height: 34px;
  margin: 10px 0;
}
.o_PoKievy .o_info p {
  max-width: 500px;
  text-align: center;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 30px;
}
.o_PoKievy .o_infoFix1 div {
  padding: 0px 0px;
}
.o_PoKievy .o_infoFix2 div {
  padding: 23.7px 28px;
}
.o_PoKievy .o_infoFix3 div {
  padding: 27px 28px;
}

.o_Oplati {
  background-color: white;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 580px;
  gap: 0px;
}
.o_Oplati .o_info2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.o_Oplati .o_info2 img {
  padding: 25px;
  background-color: rgb(255, 188, 87);
  border-radius: 100%;
}
.o_Oplati .o_info2 div {
  padding: 0px 0;
}
.o_Oplati .o_info2 div h3 {
  margin-bottom: 10px;
  font-size: 2.6em;
  font-weight: 600;
}
.o_Oplati .o_info2 div p {
  font-size: 1.6em;
  line-height: 30px;
}
.o_Oplati .o_info2Fix img {
  padding: 25px 13px;
}

.o_pitana {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.o_pitana h1 {
  font-weight: 600;
  font-size: 4em;
  margin-bottom: 40px;
}
.o_pitana section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background-color: white;
  width: 100%;
  padding: 15px;
}
.o_pitana section div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.o_pitana section div h5 {
  font-weight: 600;
  font-size: 1.9em;
  margin-left: 20px;
}

.o_Sposobi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}
.o_Sposobi section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.o_Sposobi section h4 {
  font-size: 2em;
  max-width: 150px;
  font-weight: 600;
}

.d_Dostavka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 450px;
}
.d_Dostavka section h1 {
  font-size: 4em;
  font-weight: 600;
}
.d_Dostavka section h3 {
  padding: 30px 0;
  max-width: 500px;
  font-size: 2.6em;
  font-weight: 600;
  line-height: 34px;
}
.d_Dostavka section h4 {
  max-width: 450px;
  font-size: 2em;
  font-weight: 600;
  line-height: 34px;
}
.d_Dostavka img {
  width: 500px;
}

.d_poKyiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.d_poKyiv div {
  margin-top: 30px;
}
.d_poKyiv div h1 {
  font-size: 4em;
  font-weight: 600;
  max-width: 500px;
  line-height: 48px;
}
.d_poKyiv div div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.d_poKyiv div div h4 {
  font-size: 2em;
  max-width: 400px;
  font-weight: 600;
  line-height: 28px;
}
.d_poKyiv div h4 {
  font-size: 2em;
  max-width: 500px;
  font-weight: 600;
  line-height: 28px;
}

.d_poUkraine {
  margin-top: 100px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.d_poUkraine div {
  margin-top: 30px;
}
.d_poUkraine div h1 {
  font-size: 4em;
  font-weight: 600;
  max-width: 500px;
  line-height: 48px;
}
.d_poUkraine div div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.d_poUkraine div div h4 {
  font-size: 2em;
  max-width: 420px;
  font-weight: 600;
  line-height: 28px;
}
.d_poUkraine div h4 {
  font-size: 2em;
  max-width: 500px;
  font-weight: 600;
  line-height: 28px;
}
.d_poUkraine .d_UkraineMap {
  width: 650px;
}

.d_koloInfo {
  position: absolute;
  right: 550px;
  top: 1000px;
}
.d_koloInfo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 80px;
  right: 40px;
  max-width: 340px;
}
.d_koloInfo div h3 {
  text-align: center;
  line-height: 34px;
  font-size: 2.6em;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.d_koloInfo div h4 {
  text-align: center;
  font-size: 2em;
  line-height: 28px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.d_koloInfo2 {
  position: absolute;
  right: 470px;
  top: 1800px;
}
.d_koloInfo2 h3 {
  position: absolute;
  top: 135px;
  right: 10px;
  text-align: center;
  line-height: 34px;
  font-size: 2.6em;
  font-weight: 600;
  color: rgb(255, 255, 255);
  max-width: 400px;
}

.d_Note {
  background-color: white;
  padding: 100px 0 50px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.d_akcii {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.d_akcii h1 {
  margin-bottom: 40px;
  font-size: 4em;
  font-weight: 600;
}
.d_akcii p {
  margin-top: 40px;
  font-size: 1.6em;
  line-height: 30px;
  text-align: center;
}
.d_akcii .d_A-Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.d_akcii .d_A-Info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.d_akcii .d_A-Info div h4 {
  font-size: 2em;
  font-weight: 600;
  line-height: 28px;
  max-width: 230px;
  text-align: center;
}

.d_Skladanna {
  background-color: white;
  margin-top: 70px;
}
.d_Skladanna h1 {
  padding-top: 70px;
  font-size: 4em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}
.d_Skladanna ul li {
  font-size: 1.7em;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.d_Skladanna .d_eqTwo {
  background-color: rgb(248, 248, 248);
}

.d_Zanes {
  background-color: white;
}
.d_Zanes .d_ShapkaZanes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 10% 45%;
  grid-template-columns: 45% 10% 45%;
  text-align: center;
  background-color: rgb(83, 83, 83);
  color: white;
  font-size: 2em;
  font-weight: 600;
  padding: 15px 17px;
  border-radius: 10px;
}
.d_Zanes h1 {
  padding-top: 70px;
  font-size: 4em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}
.d_Zanes ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 10% 45%;
  grid-template-columns: 45% 10% 45%;
  text-align: center;
  font-size: 1.7em;
  padding: 15px 10px;
}
.d_Zanes ul li p:last-child {
  text-align: end;
}
.d_Zanes ul li p:first-child {
  text-align: start;
}
.d_Zanes .d_InfoZanes {
  padding: 40px 0 70px 0;
  text-align: center;
  font-size: 1.6em;
  line-height: 30px;
}
.d_Zanes .d_eqTwo {
  background-color: rgb(248, 248, 248);
}

.a_AboutUs {
  margin-top: 30px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 454px;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.a_AboutUs img {
  width: 600px;
}
.a_AboutUs h1 {
  font-size: 4em;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 30px;
}
.a_AboutUs h3 {
  font-size: 2.6em;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 20px;
  max-width: 450px;
}
.a_AboutUs h4 {
  font-size: 2em;
  font-weight: 600;
  line-height: 28px;
  max-width: 600px;
}

.a_KROVATO {
  margin-top: 70px;
}
.a_KROVATO h1 {
  text-align: center;
  font-size: 4em;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 40px;
}
.a_KROVATO div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.a_KROVATO section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.a_KROVATO section h3 {
  margin-top: 30px;
  text-align: center;
  font-size: 2.6em;
  font-weight: 600;
  max-width: 400px;
  margin-bottom: 30px;
}
.a_KROVATO section p {
  text-align: center;
  max-width: 400px;
  font-size: 1.6em;
  line-height: 30px;
}

.a_vidgyki {
  margin: 70px 0;
  background-color: red;
  height: 570px;
}

.a_showRoom {
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.a_showRoom img {
  width: 600px;
}
.a_showRoom h1 {
  max-width: 500px;
  font-size: 4em;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 30px;
}
.a_showRoom h3 {
  max-width: 500px;
  font-size: 2.6em;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 20px;
}
.a_showRoom h4 {
  font-size: 2em;
  font-weight: 600;
  line-height: 28px;
  max-width: 600px;
}

.b_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 30px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.b_wrap > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.b_wrap > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.b_wrap > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.b_wrap > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.b_wrap > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.b_wrap > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.b_wrap section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  height: 475px;
}
.b_wrap section img {
  border-radius: 10px;
}
.b_wrap section h3 {
  margin: 0px 25px 0 25px;
  font-size: 2.6em;
  font-weight: 600;
  line-height: 34px;
}
.b_wrap section h5 {
  cursor: pointer;
  margin: 0px 25px 25px 25px;
  font-size: 1.9em;
  font-weight: 600;
  color: rgb(255, 188, 87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.b_wrap section h5:hover {
  text-decoration: underline;
}

.b_arrow {
  border-radius: 0px;
}

.b_h1 {
  margin: 40px 0;
  font-size: 4em;
  font-weight: 600;
}

.b_Buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.b_Buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  border-radius: 8px;
  background: rgb(255, 188, 87);
  padding: 8px 20px;
  color: rgb(255, 255, 255);
  font-size: 1.9em;
  font-weight: 400;
}

.b1_wrap h1 {
  margin: 40px 0;
  text-align: center;
  font-size: 4em;
  font-weight: 600;
  line-height: 48px;
}
.b1_wrap .b1_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.b1_wrap .b1_info .b1_Foto {
  width: 500px;
  height: 300px;
}
.b1_wrap .b1_info .fixingParag div {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.b1_wrap .b1_info .fixingParag div img {
  width: 20px;
}
.b1_wrap .b1_info .fixingParag div p {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  font-size: 1.6em;
  font-weight: 400;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.k_h1 {
  font-size: 4em;
  font-weight: 600;
  margin: 40px 0;
  text-align: center;
}

.k_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.k_info section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.k_info section div h6 {
  color: rgb(177, 177, 177);
  font-size: 1.7em;
  margin-bottom: 5px;
}
.k_info section div h4 {
  font-size: 2em;
  font-weight: 600;
  line-height: 28px;
}
.k_info section div div {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.k_adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0 70px 0;
}

.k_map {
  width: 530px;
  height: 550px;
}

.k_adres {
  width: 530px;
  height: 550px;
}

.k_dostat {
  background-color: white;
  height: 610px;
  padding: 70px 0;
}
.k_dostat h2 {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}
.k_dostat section {
  gap: 30px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.k_dostat section .k_first {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.k_dostat section .k_first div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.k_dostat section .k_first div p {
  font-size: 2em;
  font-weight: 600;
  line-height: 28px;
}
.k_dostat section .k_second {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.k_dostat section .k_second div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.k_dostat section .k_second div p {
  font-size: 2em;
  font-weight: 600;
  line-height: 28px;
}

.k_wrapBut {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.k_but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 13px 100px;
  background-color: rgb(255, 188, 87);
  color: white;
  font-size: 1.9em;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 40px;
}

.k_otpravka {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 530px;
  background-image: url("./img/backFone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
.k_otpravka section h1 {
  font-size: 4em;
  font-weight: 600;
}
.k_otpravka section h3 {
  margin: 30px 0;
  font-size: 2.6em;
  font-weight: 600;
  max-width: 470px;
  line-height: 34px;
}
.k_otpravka section h2 {
  color: rgb(255, 188, 87);
  font-size: 3em;
  font-weight: 600;
}
.k_otpravka form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.k_otpravka form input {
  height: 50px;
  width: 410px;
  border: 1px solid rgb(209, 213, 213);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  font-size: 1.6em;
}
.k_otpravka form textarea {
  height: 150px;
  width: 410px;
  border: 1px solid rgb(209, 213, 213);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  font-size: 1.6em;
  resize: none;
}
.k_otpravka form .k_but2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 13px 0px;
  width: 240px;
  background-color: rgb(255, 188, 87);
  color: white;
  font-size: 1.9em;
  font-weight: 600;
  border-radius: 10px;
}

.v_h1 {
  font-size: 4em;
  font-weight: 600;
  margin: 40px 0;
}

.v_mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
  margin-bottom: 40px;
}
.v_mode li {
  font-size: 2em;
  font-weight: 600;
}