* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
ul li {
  list-style: none;
}
ol li {
  list-style: none;
}
nav li {
  list-style: none;
  cursor: pointer;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima-Nova";
  src: url("./fonts/proximanova_regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: rgb(248, 248, 248);
  font-family: "Proxima-Nova", "Arial", sans-serif;
}

///Главная страница
.wrap {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  &_2 {
    width: 1290px;
  }
}

//Хедер
header {
  height: 220px;
  border: 1px solid red;
  .h_upp_head {
    display: flex;
    justify-content: space-between;
    nav {
      margin-top: 10px;
      display: flex;
      align-items: center;
      font-size: 1.6em;
      color: rgb(83, 83, 83);
      div {
        display: flex;
        align-items: center;
        gap: 3px;
        h5 {
          font-size: 1.2em;
        }
      }
    }
    .h_nav2 {
      gap: 15px;
    }
    .h_nav1 {
      gap: 20px;
      li:hover {
        text-decoration: underline;
      }
    }
  }
  .h_down_head {
    background-color: white;
    margin-top: 25px;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 145px;
      height: 46px;
      color: white;
      background-color: rgb(255, 188, 87);
      font-weight: 600;
      font-size: 1.8em;
      letter-spacing: 0.5px;
      border-radius: 8px;
    }
    .h_poshyk {
      border: 1px solid rgb(177, 177, 177);
      width: 420px;
      height: 50px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      input {
        padding: 10px 15px;
        font-size: 1.6em;
        width: 90%;
        height: 100%;
        border-radius: 8px;
      }
    }
    .h_tel {
      display: flex;
      align-items: center;
      gap: 10px;
      &_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        p {
          font-size: 1.3em;
          color: rgb(83, 83, 83);
        }
        h4 {
          font-weight: 600;
          font-size: 2em;
          letter-spacing: 0.5px;
        }
      }
    }
    .h_likes {
      display: flex;
      gap: 10px;
    }
  }
  .h_bottom_head {
    background-color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    .h_nav2_1 {
      display: flex;
      align-items: center;
      color: rgb(83, 83, 83);
      display: flex;
      font-size: 1.9em;
      gap: 30px;
      li {
        gap: 5px;
        display: flex;
        align-items: center;
        h5 {
          font-weight: 600;
        }
      }
    }
    .h_nav2_2 {
      display: flex;
      align-items: center;
      font-size: 1.9em;
      color: rgb(83, 83, 83);
      gap: 30px;
      li {
        display: flex;
        align-items: center;
        font-weight: 600;
      }
    }
  }
}
//Футер
.f_doWrap {
  background-color: rgb(43, 41, 41);
  height: 510px;
}
.f_wrap {
  padding: 40px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
  div {
    h4 {
      font-size: 2em;
      padding-bottom: 15px;
      font-weight: 600;
    }
    nav {
      li {
        font-size: 1.7em;
        padding-bottom: 15px;
      }
    }
  }
}
.f_lastDiv {
  display: flex;
  gap: 35px;
  flex-direction: column;
  &Wrap {
    display: flex;
    align-items: start;
    gap: 15px;
    font-weight: 600;
    font-size: 2em;
    line-height: 28px;
    div {
      p {
        max-width: 200px;
      }
    }
    img {
      width: 55px;
    }
  }
}

.f_Seti {
  h6 {
    font-size: 1.7em;
    margin-top: 45px;
  }
  div {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
}

.f_card {
  margin-top: 45px;
  display: flex;
  gap: 20px;
}

.f_downLine {
  border: 2px solid rgb(61, 61, 61);
  width: 100%;
}

.f_downFotter {
  color: rgb(177, 177, 177);
  padding: 25px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}
//Главное Меню

.m_wrap {
  margin-top: 25px;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  gap: 70px;
  .m_reklama {
    height: 420px;
    border: 1px solid purple;
  }
  .m_hotKat {
    display: flex;
    flex-direction: column;
    font-size: 4em;
    border: 1px solid purple;
    h1 {
      margin-bottom: 40px;
    }
    .m_Tovar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      flex-direction: row;
    }
  }
}

.m_akcii {
  div {
    display: flex;
    align-items: center;
    gap: 30px;
    h1 {
      font-size: 4em;
      font-weight: 600;
      letter-spacing: 1px;
    }
    div {
      display: flex;
      gap: 10px;
      h5 {
        font-size: 1.9em;
        font-weight: 600;
        color: rgb(255, 188, 87);
      }
    }
  }
  section {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    img {
      width: 410px;
      height: 280px;
      border-radius: 10px;
    }
  }
}

.m_blog {
  div {
    display: flex;
    align-items: center;
    gap: 30px;
    h1 {
      font-size: 4rem;
      font-weight: 600;
    }
    div {
      gap: 10px;
      h5 {
        color: rgb(255, 188, 87);
        font-size: 1.9em;
        font-weight: 600;
      }
    }
  }
}

.m_KrovatoIs {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    max-width: 1000px;
    line-height: 48px;
  }
  p {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 30px;
    margin: 0 90px;
    margin-top: 30px;
  }
}

.m_listBlog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.m_thisBlog {
  margin-top: 40px;
  width: 410px;
  height: 475px;
  background-color: white;
  border-radius: 10px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: white;
    border-radius: 10px;
    height: 475px;
    img {
      border-radius: 10px;
    }
    h3 {
      margin: 0px 25px 0 25px;
      font-size: 2.6em;
      font-weight: 600;
      line-height: 34px;
    }
    h5 {
      margin: 00px 25px 25px 25px;
      font-size: 1.9em;
      font-weight: 600;
      color: rgb(255, 188, 87);
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.m_vidgyki {
  height: 570px;
  background: rgb(233, 233, 233);
  margin-bottom: 75px;
}

.m_Img {
  border-radius: 10px;
  width: 100%;
  height: 220px;
}

.m_Avab {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.m_Like {
  cursor: pointer;
}
.m_Korz {
  cursor: pointer;
}

.m_Price {
  font-size: 2rem;
  font-weight: 600;
}

.m_Rozmir {
  margin: 15px 0;
  color: rgb(83, 83, 83);
  font-size: 1.3rem;
}

.m_Name {
  height: 52px;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 15px;
}

.m_Nayav {
  font-size: 1.3rem;
}

.m_thisTovar {
  border-radius: 10px;
  border: 1px solid rgb(227, 226, 226);
  padding: 20px;
  width: 300px;
  height: 450px;
  margin-bottom: 30px;
}

.m_BottomLikes {
  display: flex;
  justify-content: space-between;
  align-items: end;
  div {
    display: flex;
    gap: 10px;
  }
}

.this_choice {
  word-spacing: 5px;
  font-size: 1.6em;
  margin-top: 15px;
  .fixingBlogSpace {
    word-spacing: 0px;
  }
}
.golovna:hover {
  text-decoration: underline;
  cursor: pointer;
}
//Оплата

.o_oplata {
  margin-top: 30px;
  width: 100%;
  height: 454px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 50%;
    height: auto;
  }
  section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 34px;
    h1 {
      font-size: 4em;
      font-weight: 600;
    }
    h3 {
      font-size: 2.6em;
      max-width: 500px;
      font-weight: 600;
    }
    h4 {
      font-size: 2em;
      max-width: 445px;
      font-weight: 600;
    }
  }
}

.o_PoKievy {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 4em;
    font-weight: 600;
  }
  div {
    display: flex;
    justify-content: space-between;
  }
  .o_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    div {
      margin-top: 40px;
      padding: 25px;
      background-color: rgb(255, 188, 87);
      border-radius: 100%;
    }
    h3 {
      font-size: 2.6em;
      font-weight: 600;
      line-height: 34px;
      margin: 10px 0;
    }
    p {
      max-width: 500px;
      text-align: center;
      font-size: 1.6em;
      font-weight: 400;
      line-height: 30px;
    }
    &Fix1 {
      div {
        padding: 0px 0px;
      }
    }
    &Fix2 {
      div {
        padding: 23.7px 28px;
      }
    }
    &Fix3 {
      div {
        padding: 27px 28px;
      }
    }
  }
}

.o_Oplati {
  background-color: white;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 580px;
  gap: 0px;
  .o_info2 {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;
    img {
      padding: 25px;
      background-color: rgb(255, 188, 87);
      border-radius: 100%;
    }
    div {
      padding: 0px 0;
      h3 {
        margin-bottom: 10px;
        font-size: 2.6em;
        font-weight: 600;
      }
      p {
        font-size: 1.6em;
        line-height: 30px;
      }
    }
    &Fix {
      img {
        padding: 25px 13px;
      }
    }
  }
}

.o_pitana {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  h1 {
    font-weight: 600;
    font-size: 4em;
    margin-bottom: 40px;
  }
  section {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    width: 100%;
    padding: 15px;
    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      h5 {
        font-weight: 600;
        font-size: 1.9em;
        margin-left: 20px;
      }
    }
  }
}

.o_Sposobi {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  section {
    display: flex;
    align-items: center;
    gap: 20px;
    h4 {
      font-size: 2em;
      max-width: 150px;
      font-weight: 600;
    }
  }
}

///Доставка й оплата
.d_Dostavka {
  display: flex;
  align-items: center;
  margin-top: 35px;
  background-color: white;
  justify-content: space-between;
  height: 450px;
  section {
    h1 {
      font-size: 4em;
      font-weight: 600;
    }
    h3 {
      padding: 30px 0;
      max-width: 500px;
      font-size: 2.6em;
      font-weight: 600;
      line-height: 34px;
    }
    h4 {
      max-width: 450px;
      font-size: 2em;
      font-weight: 600;
      line-height: 34px;
    }
  }
  img {
    width: 500px;
  }
}

.d_poKyiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    margin-top: 30px;
    h1 {
      font-size: 4em;
      font-weight: 600;
      max-width: 500px;
      line-height: 48px;
    }
    div {
      align-items: center;
      display: flex;
      gap: 20px;
      h4 {
        font-size: 2em;
        max-width: 400px;
        font-weight: 600;
        line-height: 28px;
      }
    }
    h4 {
      font-size: 2em;
      max-width: 500px;
      font-weight: 600;
      line-height: 28px;
    }
  }
}

.d_poUkraine {
  margin-top: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    margin-top: 30px;
    h1 {
      font-size: 4em;
      font-weight: 600;
      max-width: 500px;
      line-height: 48px;
    }
    div {
      align-items: center;
      display: flex;
      gap: 20px;
      h4 {
        font-size: 2em;
        max-width: 420px;
        font-weight: 600;
        line-height: 28px;
      }
    }
    h4 {
      font-size: 2em;
      max-width: 500px;
      font-weight: 600;
      line-height: 28px;
    }
  }
  .d_UkraineMap {
    width: 650px;
  }
}
.d_koloInfo {
  position: absolute;
  right: 550px;
  top: 1000px;
  div {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 40px;
    max-width: 340px;
    h3 {
      text-align: center;
      line-height: 34px;
      font-size: 2.6em;
      font-weight: 600;
      color: rgb(255, 255, 255);
    }
    h4 {
      text-align: center;
      font-size: 2em;
      line-height: 28px;
      font-weight: 600;
      color: rgb(255, 255, 255);
    }
  }
}

.d_koloInfo2 {
  position: absolute;
  right: 470px;
  top: 1800px;
  h3 {
    position: absolute;
    top: 135px;
    right: 10px;
    text-align: center;
    line-height: 34px;
    font-size: 2.6em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    max-width: 400px;
  }
}

.d_Note {
  background-color: white;
  padding: 100px 0 50px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.d_akcii {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 40px;
    font-size: 4em;
    font-weight: 600;
  }
  p {
    margin-top: 40px;
    font-size: 1.6em;
    line-height: 30px;
    text-align: center;
  }
  .d_A-Info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      h4 {
        font-size: 2em;
        font-weight: 600;
        line-height: 28px;
        max-width: 230px;
        text-align: center;
      }
    }
  }
}

.d_Skladanna {
  background-color: white;
  margin-top: 70px;
  h1 {
    padding-top: 70px;
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
  }
  ul {
    li {
      font-size: 1.7em;
      padding: 15px 10px;
      display: flex;
      justify-content: space-between;
    }
  }
  .d_eqTwo {
    background-color: rgb(248, 248, 248);
  }
}

.d_Zanes {
  background-color: white;
  .d_ShapkaZanes {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    text-align: center;
    background-color: rgb(83, 83, 83);
    color: white;
    font-size: 2em;
    font-weight: 600;
    padding: 15px 17px;
    border-radius: 10px;
  }
  h1 {
    padding-top: 70px;
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
  }
  ul {
    li {
      display: grid;
      grid-template-columns: 45% 10% 45%;
      text-align: center;
      font-size: 1.7em;
      padding: 15px 10px;
      p:last-child {
        text-align: end;
      }
      p:first-child {
        text-align: start;
      }
    }
  }
  .d_InfoZanes {
    padding: 40px 0 70px 0;
    text-align: center;
    font-size: 1.6em;
    line-height: 30px;
  }
  .d_eqTwo {
    background-color: rgb(248, 248, 248);
  }
}

///Про нас
.a_AboutUs {
  margin-top: 30px;
  background-color: white;
  align-items: center;
  height: 454px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  img {
    width: 600px;
  }
  h1 {
    font-size: 4em;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 2.6em;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 20px;
    max-width: 450px;
  }
  h4 {
    font-size: 2em;
    font-weight: 600;
    line-height: 28px;
    max-width: 600px;
  }
}

.a_KROVATO {
  margin-top: 70px;
  h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 40px;
  }
  div {
    display: flex;
    align-items: start;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    h3 {
      margin-top: 30px;
      text-align: center;
      font-size: 2.6em;
      font-weight: 600;
      max-width: 400px;
      margin-bottom: 30px;
    }
    p {
      text-align: center;
      max-width: 400px;
      font-size: 1.6em;
      line-height: 30px;
    }
  }
}

.a_vidgyki {
  margin: 70px 0;
  background-color: red;
  height: 570px;
}

.a_showRoom {
  background-color: white;
  align-items: center;
  height: 500px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  img {
    width: 600px;
  }
  h1 {
    max-width: 500px;
    font-size: 4em;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 30px;
  }
  h3 {
    max-width: 500px;
    font-size: 2.6em;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 2em;
    font-weight: 600;
    line-height: 28px;
    max-width: 600px;
  }
}
///Блог
.b_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    height: 475px;
    img {
      border-radius: 10px;
    }
    h3 {
      margin: 0px 25px 0 25px;
      font-size: 2.6em;
      font-weight: 600;
      line-height: 34px;
    }
    h5 {
      cursor: pointer;
      margin: 00px 25px 25px 25px;
      font-size: 1.9em;
      font-weight: 600;
      color: rgb(255, 188, 87);
      display: flex;
      align-items: center;
      gap: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.b_arrow {
  border-radius: 0px;
}
.b_h1 {
  margin: 40px 0;
  font-size: 4em;
  font-weight: 600;
}
///Блог-Сторінки
.b_Buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  button {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: rgb(255, 188, 87);
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    font-size: 1.9em;
    font-weight: 400;
  }
}

///Блог1

.b1_wrap {
  h1 {
    margin: 40px 0;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    line-height: 48px;
  }
  .b1_info {
    display: flex;
    flex-direction: row-reverse;
    .b1_Foto {
      width: 500px;
      height: 300px;
    }
    .fixingParag {
      div {
        gap: 10px;
        display: flex;
        align-items: start;
        img {
          width: 20px;
        }
        p {
          transform: translateY(-4px);
          font-size: 1.6em;
          font-weight: 400;
          line-height: 30px;
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}

///Контакти
.k_wrap {
}

.k_h1 {
  font-size: 4em;
  font-weight: 600;
  margin: 40px 0;
  text-align: center;
}

.k_info {
  display: flex;
  justify-content: space-between;
  section {
    display: flex;
    gap: 20px;
    align-items: start;
    div {
      h6 {
        color: rgb(177, 177, 177);
        font-size: 1.7em;
        margin-bottom: 5px;
      }
      h4 {
        font-size: 2em;
        font-weight: 600;
        line-height: 28px;
      }
      div {
        margin-top: 10px;
        display: flex;
        gap: 5px;
      }
    }
  }
}

.k_adress {
  display: flex;
  justify-content: center;
  margin: 70px 0 70px 0;
}

.k_map {
  width: 530px;
  height: 550px;
}

.k_adres {
  width: 530px;
  height: 550px;
}

.k_dostat {
  background-color: white;
  height: 610px;
  padding: 70px 0;
  h2 {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
  }
  section {
    gap: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    .k_first {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      div {
        display: flex;
        align-items: center;
        gap: 25px;
        p {
          font-size: 2em;
          font-weight: 600;
          line-height: 28px;
        }
      }
    }
    .k_second {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      div {
        display: flex;
        align-items: center;
        gap: 25px;
        p {
          font-size: 2em;
          font-weight: 600;
          line-height: 28px;
        }
      }
    }
  }
}

.k_wrapBut {
  width: 100%;
  display: flex;
  justify-content: center;
}

.k_but {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px 100px;
  background-color: rgb(255, 188, 87);
  color: white;
  font-size: 1.9em;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 40px;
}

.k_otpravka {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 530px;
  background-image: url("./img/backFone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  section {
    h1 {
      font-size: 4em;
      font-weight: 600;
    }
    h3 {
      margin: 30px 0;
      font-size: 2.6em;
      font-weight: 600;
      max-width: 470px;
      line-height: 34px;
    }
    h2 {
      color: rgb(255, 188, 87);
      font-size: 3em;
      font-weight: 600;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
      height: 50px;
      width: 410px;
      border: 1px solid rgb(209, 213, 213);
      border-radius: 10px;
      padding: 10px 20px 10px 20px;
      font-size: 1.6em;
    }
    textarea {
      height: 150px;
      width: 410px;
      border: 1px solid rgb(209, 213, 213);
      border-radius: 10px;
      padding: 10px 20px 10px 20px;
      font-size: 1.6em;
      resize: none;
    }
    .k_but2 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 13px 0px;
      width: 240px;
      background-color: rgb(255, 188, 87);
      color: white;
      font-size: 1.9em;
      font-weight: 600;
      border-radius: 10px;
    }
  }
}

///Відгуки
.v_h1 {
  font-size: 4em;
  font-weight: 600;
  margin: 40px 0;
}

.v_mode {
  display: flex;
  justify-content: start;
  gap: 30px;
  li {
    font-size: 2em;
    font-weight: 600;
  }
  margin-bottom: 40px;
}
