//Категорії
.kat_wrap {
  z-index: 999;
  position: absolute;
  filter: blur;
  top: 170px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  .kat_menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 25%;
    padding: 10px 0;
    li {
      cursor: pointer;
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 15px 30px;
      &:hover {
        background-color: rgb(255, 188, 87);
      }
      h4 {
        font-size: 2em;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 1100px) {
  .kat_wrap {
    top: 400px;
    right: 0px;

    .kat_menu {
      margin-left: 67%;

      li {
        &:hover {
        }
        h4 {
        }
      }
    }
  }
}
@media (max-width: 980px) {
  .kat_wrap {
    top: 446px;
    right: 0px;

    .kat_menu {
      margin-left: 4%;

      li {
        &:hover {
        }
        h4 {
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .kat_wrap {
    top: 424px;
    right: 0px;

    .kat_menu {
      margin-left: 4%;

      li {
        &:hover {
        }
        h4 {
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .kat_wrap {
    top: 424px;
    right: 0px;
    .kat_menu {
      display: flex;
      justify-content: center;
      li {
        &:hover {
        }
        h4 {
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .kat_wrap {
    top: 400px;
    right: 0px;
    .kat_menu {
      display: flex;
      justify-content: center;
      li {
        &:hover {
        }
        h4 {
        }
      }
    }
  }
}
@media (max-width: 370px) {
  .kat_wrap {
    top: 370px;
    right: 0px;
    .kat_menu {
      display: flex;
      justify-content: center;
      li {
        &:hover {
        }
        h4 {
        }
      }
    }
  }
}
