.k_h1 {
  margin: 30px 0 40px 0;
  text-align: start;
  font-size: 4em;
  font-weight: 600;
}

.k_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.k_content .k_right {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  width: 37%;
  height: 1040px;
}

.k_lastBottom {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.k_lastBottom h3 {
  font-size: 2.6em;
  font-weight: 600;
  margin-bottom: 30px;
}
.k_lastBottom .k_infor {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.k_butPost {
  background: rgb(255, 188, 87);
  width: 100%;
  padding: 8px 30px 8px 30px;
  border-radius: 10px;
  color: white;
  margin-top: 30px;
  height: 50px;
  font-size: 1.9em;
  font-weight: 600;
}

.k_form {
  width: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.k_form .k_sec1 {
  border-radius: 10px;
  padding: 30px;
  background-color: white;
}
.k_form .k_sec1_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.k_form .k_sec1_head h3 {
  font-size: 2.6em;
  font-weight: 600;
}
.k_form .k_sec1_cont {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}
.k_form .k_sec1_cont input {
  border: 1px solid rgb(209, 213, 213);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  width: 325px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  font-size: 1.6em;
}
.k_form .k_sec1_insha {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6em;
  gap: 10px;
}
.k_form .k_sec1_insha input {
  width: 20px;
  height: 20px;
}
.k_form .k_sec2 {
  border-radius: 10px;
  padding: 30px;
  background-color: white;
}
.k_form .k_sec2_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.k_form .k_sec2_head h3 {
  font-size: 2.6em;
  font-weight: 600;
}
.k_form .k_sec2_metodDost {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.k_form .k_sec2_metodDost_Dost {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 210px;
  height: 140px;
  border: 3px solid rgb(248, 248, 248);
  border-radius: 10px;
  background: rgb(255, 255, 255);
}
.k_form .k_sec2_metodDost_Dost h5 {
  font-size: 1.6em;
}
.k_form .k_sec2_metodDost_Dost h6 {
  font-size: 1.5em;
  color: rgb(83, 83, 83);
}
.k_form .k_sec3 {
  border-radius: 10px;
  background-color: white;
  padding: 30px;
}
.k_form .k_sec3_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.k_form .k_sec3_head h3 {
  font-size: 2.6em;
  font-weight: 600;
}
.k_form .k_sec3 .k_oplata_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7em;
  gap: 10px;
  margin-top: 30px;
}
.k_form .k_sec3 .k_oplata_card .k_checkCard {
  border-radius: 50%;
}
.k_form .k_sec4 {
  border-radius: 10px;
  background-color: white;
  padding: 30px;
}
.k_form .k_sec4_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.k_form .k_sec4_head h3 {
  font-size: 2.6em;
  font-weight: 600;
}
.k_form .k_sec4_area {
  margin-top: 30px;
  font-size: 1.6em;
  width: 680px;
  height: 150px;
  border: 1px solid rgb(209, 213, 213);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  padding: 10px 20px 10px 20px;
  resize: none;
}

.k_selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 210px;
  height: 140px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  border: 3px solid rgb(255, 188, 87);
}
.k_selected h5 {
  font-size: 1.6em;
}
.k_selected h6 {
  font-size: 1.5em;
  color: rgb(83, 83, 83);
}

.k_upp h3 {
  font-weight: 600;
  font-size: 2em;
}

.k_bottom {
  overflow-y: scroll;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 650px;
  gap: 20px;
}
.k_bottom .k_Img {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}
.k_bottom .k_thisTovar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.k_bottom .k_exit {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid rgb(255, 188, 87);
  border-radius: 50%;
  font-size: 2em;
  padding: 0px 5px;
  margin-bottom: 140px;
}