//Лист Товарів
.li_h1 {
  margin: 40px 0;
  font-size: 4em;
  font-weight: 600;
}
.li_tovari {
  display: flex;
  gap: 30px;
  .li_aside {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    .li_zag {
      padding: 20px;
      background-color: white;
      border-radius: 10px 10px 0 0;
      border: 1px solid rgb(227, 226, 226);
      display: flex;
      align-items: center;
      gap: 15px;
      h5 {
        font-size: 1.9em;
        font-weight: 600;
      }
    }
  }
  .li_list {
    max-width: 960px;
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    section {
    }
  }
  .li_asideList {
    display: flex;
    flex-direction: column;
    li {
      border: 1px solid rgb(227, 226, 226);
      font-size: 1.9em;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      .li_kateX {
        padding: 18px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .li_params {
        overflow: hidden;
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 25px;
      }
      .li_fixinga {
        overflow: hidden;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        gap: 25px;
      }
      .li_forVirob {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
        font-weight: 300;
        div {
          cursor: pointer;
        }
      }
      .li_close {
        height: 0px;
        padding: 0px 15px;
      }
      .li_open {
        height: auto;
        padding: 18px 15px;
      }
    }
  }
}
.li_but {
  background: rgb(255, 188, 87);
  width: 100%;
  padding: 8px 30px 8px 30px;
  border-radius: 10px;
  color: white;
  margin-top: 30px;
  height: 50px;
  font-size: 1.9em;
  font-weight: 600;
}
.li_cenaNum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  input {
    border: 3px solid rgb(177, 177, 177);
    width: 100%;
    text-align: center;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.li_buttons {
  display: flex;
  margin-top: 40px;
  gap: 10px;
  justify-content: center;
  button {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-weight: 400;
    border-radius: 10px;
  }
}

@media (max-width: 1300px) {
  .li_tovari {
    display: flex;
    gap: 30px;
    .li_aside {
    }
    .li_list {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: 1000px) {
  .li_h1 {
    display: flex;
    justify-content: center;
  }
  .li_tovari {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .li_aside {
      display: flex;
      width: 90%;
    }
    .li_list {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: 650px) {
  .li_h1 {
    display: flex;
    justify-content: center;
  }
  .li_tovari {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .li_aside {
      display: flex;
      width: 100%;
    }
    .li_list {
      grid-template-columns: 1fr;
    }
  }
}
