//Головне меню

.m_wrap {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  .m_reklama {
    height: 420px;
    display: flex;
    overflow: hidden;
    animation: 0.4s;
    .m_Reklama2 {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: transform 0.4s ease-in-out;
    }
    .m_Righty {
      cursor: pointer;
      top: 420px;
      right: 330px;
      position: absolute;
      width: 60px;
      height: 60px;
      z-index: 5;
    }
    .m_Lefty {
      cursor: pointer;
      top: 420px;
      left: 330px;
      position: absolute;
      width: 60px;
      height: 60px;
      z-index: 5;
    }
    .m_elipse {
      top: 640px;
      left: 920px;
      display: flex;
      gap: 5px;
      position: absolute;
      li {
        background-color: white;
        width: 15px;
        height: 15px;
        border-radius: 10px;
        padding: 3px;
        div {
          border-radius: 10px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .m_hotKat {
    display: flex;
    flex-direction: column;
    font-size: 4em;
    h1 {
      margin-bottom: 40px;
    }
    .m_Tovar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      flex-direction: row;
    }
  }
}

.m_akcii {
  div {
    display: flex;
    align-items: center;
    gap: 30px;
    h1 {
      font-size: 4em;
      font-weight: 600;
      letter-spacing: 1px;
    }
    div {
      display: flex;
      gap: 10px;
      h5 {
        font-size: 1.9em;
        font-weight: 600;
        color: rgb(255, 188, 87);
      }
    }
  }
  section {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    img {
      width: 410px;
      height: 280px;
      border-radius: 10px;
    }
  }
}

.m_blog {
  div {
    display: flex;
    align-items: center;
    gap: 30px;
    h1 {
      font-size: 4rem;
      font-weight: 600;
    }
    div {
      gap: 10px;
      h5 {
        color: rgb(255, 188, 87);
        cursor: pointer;
        font-size: 1.9em;
        font-weight: 600;
      }
    }
  }
}

.m_KrovatoIs {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    max-width: 1000px;
    line-height: 48px;
  }
  p {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 30px;
    margin: 0 90px;
    margin-top: 30px;
  }
}

.m_listBlog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.m_thisBlog {
  margin-top: 40px;
  width: 410px;
  height: 475px;
  background-color: rgb(51, 24, 24);
  border-radius: 10px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: white;
    border-radius: 10px;
    height: 475px;
    img {
      border-radius: 10px;
    }
    h3 {
      margin: 0px 25px 0 25px;
      font-size: 2.6em;
      font-weight: 600;
      line-height: 34px;
    }
    h5 {
      margin: 00px 25px 25px 25px;
      font-size: 1.9em;
      font-weight: 600;
      color: rgb(255, 188, 87);
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }
  }
}

.m_vidgyki {
  height: 570px;
  background: rgb(233, 233, 233);
  margin-bottom: 75px;
}

.m_Img {
  border-radius: 10px;
  width: 100%;
  height: 220px;
}

.m_Avab {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.m_Like {
  cursor: pointer;
}
.m_Korz {
  cursor: pointer;
}

.m_Price {
  font-size: 2rem;
  font-weight: 600;
}

.m_Rozmir {
  margin: 15px 0;
  color: rgb(83, 83, 83);
  font-size: 1.3rem;
}

.m_Name {
  height: 52px;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 15px;
}

.m_Nayav {
  font-size: 1.3rem;
}

.m_thisTovar {
  border-radius: 10px;
  border: 1px solid rgb(227, 226, 226);
  padding: 20px;
  width: 300px;
  height: 450px;
  margin-bottom: 25px;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.m_BottomLikes {
  display: flex;
  justify-content: space-between;
  align-items: end;
  div {
    display: flex;
    gap: 10px;
  }
}

.this_choice {
  word-spacing: 5px;
  font-size: 1.6em;
  margin-top: 15px;
  .fixingBlogSpace {
    word-spacing: 0px;
  }
}
.golovna:hover {
  text-decoration: underline;
  cursor: pointer;
}
////
.m_vidgyki {
  padding: 30px;
  overflow-x: scroll;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  .v_thisComment {
    height: 370px;
    width: 450px;
    margin-top: 40px;
    background-color: white;
    padding: 30px;
    border: 1px solid rgb(227, 226, 226);
    border-radius: 10px;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    .v_up {
      display: flex;
      justify-content: space-between;
      &_left {
        display: flex;
        align-items: center;
        gap: 20px;
        h6 {
          font-size: 1.7em;
        }
      }
      &_right {
        width: 230px;
        display: flex;
        align-items: center;
        gap: 0px;
        justify-content: space-between;
        h6 {
          font-size: 1.7em;
        }
        &_grade {
          display: flex;
          gap: 2px;
        }
      }
    }
    .v_middle {
      margin-top: 30px;
      font-size: 1.6em;
      font-weight: 400;
      line-height: 30px;
    }
  }
}

.m_conteinerH {
  display: flex;
  align-items: center;
  gap: 30px;
}

.m_h1Vid {
  font-size: 4em;
  font-weight: 600;
}

.m_daliVid {
  display: flex;
  align-items: center;

  gap: 15px;
  img {
    border-radius: 10px;
  }
  h5 {
    font-size: 1.9rem;
    font-weight: 600;
    color: rgb(255, 188, 87);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
}
