//Головне меню

.m_wrap {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  .m_reklama {
    display: flex;
    width: 67.17vw;
    height: 100%;
    display: flex;
    overflow: hidden;
    animation: 0.4s;
    .m_Reklama2 {
      width: 100%;
      height: auto;
      border-radius: 10px;
      transition: transform 0.4s ease-in-out;
    }
    .m_Righty {
      filter: drop-shadow(0px 0px 3px black);
      cursor: pointer;
      top: 50%;
      right: 18%;
      position: absolute;
      width: 60px;
      height: 60px;
      z-index: 5;
    }
    .m_Lefty {
      filter: drop-shadow(0px 0px 3px black);
      cursor: pointer;
      top: 50%;
      left: 18%;
      position: absolute;
      width: 60px;
      height: 60px;
      z-index: 5;
    }
  }
  .m_hotKat {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 4em;
    h1 {
      margin-bottom: 40px;
      text-align: center;
      font-weight: 600;
    }
    .m_Tovar {
      padding: 0 200px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;
      flex-direction: row;
    }
  }
}

.m_akcii {
  .m_contAkc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    h1 {
      font-size: 4em;
      font-weight: 600;
      letter-spacing: 1px;
    }
    div {
      display: flex;
      gap: 10px;
      h5 {
        font-size: 1.9em;
        font-weight: 600;
        color: rgb(255, 188, 87);
      }
    }
  }
  section {
    margin-top: 45px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    img {
      width: 25vw;
      height: 100%;
      border-radius: 10px;
    }
  }
}

.m_KrovatoIs {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    max-width: 1300px;
    line-height: 48px;
  }
  p {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 30px;
    margin: 0 90px;
    margin-top: 30px;
  }
}

.m_Img {
  border-radius: 10px;
  width: 100%;
  height: 220px;
}

.m_Avab {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.m_Like {
  cursor: pointer;
}
.m_Korz {
  cursor: pointer;
}

.m_Price {
  font-size: 2rem;
  font-weight: 600;
}

.m_Rozmir {
  margin: 15px 0;
  color: rgb(83, 83, 83);
  font-size: 1.3rem;
}

.m_Name {
  height: 52px;
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 15px;
}

.m_Nayav {
  font-size: 1.3rem;
}

.m_thisTovar {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgb(227, 226, 226);
  padding: 20px;
  width: 305px;
  height: auto;
  margin-bottom: 25px;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  .li_linee {
    border: 1px solid rgb(255, 188, 87);
    margin-bottom: 10px;
  }
}

.m_BottomLikes {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  div {
    position: relative;
    display: flex;
    gap: 10px;
  }
}

.this_choice {
  word-spacing: 5px;
  font-size: 1.6em;
  margin-top: 15px;
  .fixingBlogSpace {
    word-spacing: 0px;
  }
}
.golovna:hover {
  text-decoration: underline;
  cursor: pointer;
}

////

.m_vidgyki {
  padding: 30px 270px;
  overflow-x: scroll;
  width: 99vw;
  display: flex;
  align-items: center;
  height: 570px;
  background: rgb(233, 233, 233);
  margin-bottom: 75px;
  gap: 30px;
  .v_thisComment {
    height: 370px;
    width: 450px;
    margin-top: 40px;
    background-color: white;
    padding: 30px;
    border: 1px solid rgb(227, 226, 226);
    border-radius: 10px;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    .v_up {
      display: flex;
      justify-content: space-between;
      &_left {
        display: flex;
        align-items: center;
        gap: 20px;
        h6 {
          font-size: 1.7em;
        }
      }
      &_right {
        width: 230px;
        display: flex;
        align-items: center;
        gap: 0px;
        justify-content: space-between;
        h6 {
          font-size: 1.7em;
        }
        &_grade {
          display: flex;
          gap: 2px;
        }
      }
    }
    .v_middle {
      margin-top: 30px;
      font-size: 1.6em;
      font-weight: 400;
      line-height: 30px;
    }
  }
}

.m_conteinerH {
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.m_h1Vid {
  font-size: 4em;
  font-weight: 600;
  text-align: start;
}

.m_daliVid {
  display: flex;
  align-items: center;

  gap: 15px;
  img {
    border-radius: 10px;
  }
  h5 {
    font-size: 1.9rem;
    font-weight: 600;
    color: rgb(255, 188, 87);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
}

///

@media (max-width: 1100px) {
  .m_wrap {
    .m_reklama {
      .m_Righty {
        filter: drop-shadow(0px 0px 3px black);
        cursor: pointer;
        top: 87%;
        right: 18%;
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: 5;
      }
      .m_Lefty {
        filter: drop-shadow(0px 0px 3px black);
        cursor: pointer;
        top: 87%;
        left: 18%;
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: 5;
      }
    }
    .m_hotKat {
      .m_Tovar {
        gap: 10px;
        padding: 0 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        flex-direction: row;
      }
    }
  }
}
///
@media (max-width: 800px) {
  .m_wrap {
    .m_reklama {
      display: flex;
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
      animation: 0.4s;
      .m_Righty {
        filter: drop-shadow(0px 0px 3px black);
        cursor: pointer;
        top: 87%;
        right: 5%;
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: 5;
      }
      .m_Lefty {
        filter: drop-shadow(0px 0px 3px black);
        cursor: pointer;
        top: 87%;
        left: 5%;
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: 5;
      }
    }
    .m_hotKat {
      .m_Tovar {
        gap: 10px;
        padding: 0 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        flex-direction: row;
      }
    }
  }
  .m_akcii {
    .m_contAkc {
    }
    section {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      img {
        width: 70vw;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}
@media (max-width: 600px) {
  .m_wrap {
    .m_reklama {
      overflow-x: scroll;
      display: flex;
      width: 100%;
      height: 100%;

      .m_Righty {
        display: none;
      }
      .m_Lefty {
        display: none;
      }
    }
    .m_hotKat {
      .m_Tovar {
        gap: 10px;
        padding: 0 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        flex-direction: row;
      }
    }
  }
  .m_akcii {
    .m_contAkc {
    }
    section {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      img {
        width: 70vw;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
  .m_vidgyki {
    padding: 30px 0px;
    overflow-y: scroll;
    width: 99vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    margin-bottom: 75px;
    gap: 30px;
  }
}
